---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';

//import components
import Main from '../components/Main.astro';
import Button from '@components/Button.astro';
import Link from '@components/Link.astro';

---

<Layout title="MCL | Offre entreprise" >
    <Main>
        
    </Main>

</Layout>