---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';

//import components
import Main from '@components/Main.astro';
import ServiceCard from '@components/ServiceCard.astro';
import Button from '@components/Button.astro';
import Link from '@components/Link.astro';
import ChecklistItem from '@components/ChecklistItem.astro';

---

<Layout title="Mon corps libéré | massage">

<Main class="flex-1">
<!-- Hero massage -->
<section class="section relative mt-36 overflow-hidden">
    <div class="container">
      <div class="max-w-5xl text-center mx-auto">
        <h1 class="headline headline-h1">L'art du massage bien-être</h1>
        <p class="">Ensemble de techniques, telles que pétrissage, pression, vibration, drainage, etc., s’exerçant sur différentes parties du corps dans un dessein de bien-être.</p>
      </div>
  
      <div class="mt-10 relative max-w-5xl mx-auto">
        <div class="w-full object-cover h-96 sm:h-[30rem] md:h-[32rem] bg-[url('../images/massage/massage_2.jpg')] bg-no-repeat bg-center bg-cover rounded-xl"></div>
      </div>
    </div>
  </section>


</Main>

</Layout>