---
import { Image } from 'astro:assets'

//import components
import { Icon } from 'astro-icon'
import Link from '@components/Link.astro'
---

<footer class="section bg-dark pb-6 pt-4">
	<div class="footer__inner-section container">
		<div class="footer__layout grid w-full">
			<div class="flex flex-col space-y-2 items-center justify-center">
				<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
					<Image
						src="/logo-mcl-short.svg"
						alt="logo - MCL"
						width={64}
						height={64}
						class="logo__img block h-12 w-12 lg:w-16"
					/>
				</a>
				<ul
					class="text-gray-500 mb-6 flex flex-wrap items-center space-x-6 text-fs-small font-medium"
				>
					<li>
						<Link
							role="link"
							label="Mentions légales"
							href="/mentions légales"
							classes="dark text-fs-small"
						/>
					</li>
					<div class="space-x-1">
						<a
							class="inline-flex items-center justify-center rounded-full p-1 text-center transition focus:outline-none focus:ring-2 focus:ring-offwhite focus:ring-offset-1 focus:ring-offset-offwhite"
							href="#"
						>
							<Icon name="facebook-logo" class="w-4 text-brand md:w-6" />
						</a>
						<a
							class="inline-flex items-center justify-center rounded-full p-1 text-center transition focus:outline-none focus:ring-2 focus:ring-brand focus:ring-offset-1 focus:ring-offset-brand"
							href="#"
						>
							<Icon name="instagram-logo" class="w-4 text-brand md:w-6" />
							<a></a>
						</a>
					</div>
				</ul>
			</div>
			<hr class="my-4 sm:mx-auto lg:my-8" />
			<div class="block w-full text-center text-fs-small">
				<span class="block">© 2023 Mon Corps Libéré. Tous droits réservés.</span>
				<span class="block">
					Design et intégration par <Link
						role="link"
						label="LeSweetDesign"
						href="/"
						classes="dark"
					/>
				</span>
			</div>
		</div>
	</div>
</footer>
